* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: "alifiyahregular";
  src: url("fonte/alifiyah-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --green: #495f55;
  --yellow: #a39869;
  --brown: #9d6b4d;
  --rosa: #9f847b;
  --beige: #d6c8bb;
  --light: #dcd8d2;
}

body {
  background-color: #f6f6f6;
  min-width: 400px;
}

h1 {
  font-family: "Courgette", cursive;
  color: var(--yellow);
}

h2 {
  font-family: "Raleway", sans-serif;
  color: var(--brown);
}

h3 {
  font-family: "alifiyahregular";
  font-size: 2rem;
  color: var(--beige);
  font-weight: 100;
}

p {
  font-family: "Raleway", sans-serif;
  color: var(--light);
  font-size: 0.8rem;
}

/*****MENU START******/
nav {
  background: linear-gradient(
    0deg,
    rgba(246, 246, 246, 1) 45%,
    rgba(214, 200, 187, 1) 86%
  );
}

li {
  font-family: "Courgette", cursive;
  font-size: 1.3rem;
  padding-top: 10px;
}

li a {
  text-decoration: none;
  color: var(--rosa);
}

.logo_tekst {
  transform: translateX(-100%);
  opacity: 0;
}

.hidden {
  transform: translateX(-100%);
  opacity: 0;
}

#menuknap {
  display: flex;
  justify-content: right;
  color: var(--brown);
  margin-right: 20px;
}

#menu {
  list-style-type: none;
  transition: transform 0.3s;
  transform-origin: top left;
  width: auto;
  margin-inline: auto;
  margin-top: -19px;
  background: linear-gradient(
    0deg,
    rgba(246, 246, 246, 1) 45%,
    rgba(214, 200, 187, 1) 86%
  );
}

/******** MENU END *******/

#logo_boks {
  background-color: var(--green);
  height: 150px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}

.logo {
  width: 130px;
  grid-column: 2/3;
  padding-top: 10px;
  justify-self: center;
}

.logo_tekst {
  width: 300px;
  grid-column: 2/3;
  margin-top: -15px;
}

/****** FORSIDE ********/

#hero_billede {
  background-color: var(--brown);
  width: 100%;
  height: 50%;
}

/****** FORSIDE END ********/

/****** OM SIDE ******/

#om_wrapper p,
h1,
h2 {
  margin-left: 20px;
  margin-right: 20px;
}

#om_img img {
  width: 210px;
  margin-left: 20px;
}

#om_beskrivelse {
  width: 250px;
  height: 300px;
  background-color: var(--green);
  margin-top: -120px;
  position: relative;
  float: right;
  margin-right: 20px;
}

#om_erhvervserfaring {
  width: 300px;
  height: 300px;
  background-color: var(--beige);
  margin-top: 150px;
  position: relative;
  margin-left: 20px;
}

/***FORMULAR*****/
#om_kontakt {
  text-align: center;
  background-color: var(--light);
  height: 50px;
}

#om_kontakt h2 {
  color: var(--green);
  padding-top: 10px;
}

#om_formular {
  width: 100%;
  background-color: var(--rosa);
  padding-bottom: 20px;
  background-image: url(img/coffee_1.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.kontakt_formular {
  text-align: center;
  padding-top: 10px;
}

.kontakt_formular input,
textarea,
#input-submit {
  border: 0;
  outline: 0;
  width: 70%;
  padding: 10px;
  margin-top: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 0.6rem;
  color: var(--brown);
  background: #f4ede6;
  resize: none;
}

#input-submit {
  background: #f4ede6;
  cursor: pointer;
  width: 30%;
  height: 32px;
  font-size: 0.8rem;
  border: 0;
}
#input-submit:hover {
  background-color: var(--beige);
  color: #f4ede6;
}
#input-submit:active {
  border: 2px solid #f4ede6;
}

/****** OM SIDE END******/

/*******PORTFOLIO MENU*****/
#portfolio_top {

}
#portfolio hr {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-inline: auto;

}


#portfolio_menu {
  display: flex;
  justify-content: center;
}



#portfolio_menu nav {
  width: auto;
  background: none;
}
#portfolio_menu nav a:hover {
  color: var(--yellow);
}

#portfolio_menu li {
  margin:5px;
  list-style-type: none;
}

#portfolio_menu li a {
  color: var(--light);
  font-size: 1.3rem;
  font-family: "Raleway", sans-serif;
}

#portfolio_menu ul {
margin: 0;
padding: 0;
}


.menu1,
.menu2,
.menu3,
.menu4,
.menu5 {
  height: 40px;
  width: 300px;
  background-color: var(--brown);
  text-align: center;
}

/*******PORTFOLIO MENU END*******/

/********* PORTFOLIO *********/

#portfolio_top {
  text-align: center;
  margin-bottom: 50px;
}

#portfolio_top hr {
  color: var(--brown);
  width: 80%;
}

#animation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 75px 150px 200px 200px;
  gap: 10px;
}

.animation_knap a{
  width: 30px;
  height: 20px;
}


#animation h2 {
  grid-row: 1;
}

#animation_boks1 {
  grid-column: 1 / span 2;
  grid-row: 2;
  background-image: url(/img/animation_1.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

#animation_boks2 {
  background-color: blue;
  grid-column: 1/2;
  grid-row: 3;
}

#animation_boks3 {
  background-color: green;
  grid-column: 2/2;
  grid-row: 3;
}

#animation_boks4 {
  background-color: red;
  grid-column: 2/2;
  grid-row: 4;
}

#animation_boks5 {
  background-color: yellow;
  grid-column: 1/2;
  grid-row: 4;
}

/******PORTFOLIO END ********/

footer {
  background-color: var(--green);
  height: 30px;
}
footer p {
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  color: var(--light);
  text-align: center;
  padding-top: 8px;
}

@media only screen and (min-width: 600px) {
  #logo_boks {
    margin-top: 30px;
    height: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0;
  }

  .logo_tekst {
    transform: translateX(0);
    opacity: 1;
    grid-column: 1/2;
    margin-top: 20px;
    margin-left: 100px;
  }

  .logo {
    grid-column: 2/2;
    margin-top: -30px;
  }

  main #portfolio {
    margin-left: 80px;
    margin-right: 80px;
  }

  #om_form_wrapper {
    width: 100%;
  }
  /**** MENU START ****/

  nav {
    text-align: center;

    height: 90px;
    background: linear-gradient(
      0deg,
      rgba(246, 246, 246, 1) 45%,
      rgba(214, 200, 187, 1) 86%
    );
  }
  #menuknap {
    display: none;
  }

  #menu {
    background: none;
  }

  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
    margin: 0;
    padding: 0;
  }

  #menu li {
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
  }

  #menu li a:hover {
    color: var(--green);
  }

  /****** MENU END *****/

  /*********** OM MIG **************/
  h2 {
    margin: 0;
  }

  #om_wrapper {
    margin-left: 80px;
    margin-right: 80px;
  }
  #om_img img {
    width: 300px;
  }

  #om_beskrivelse {
    width: 350px;
    height: 300px;
    margin-top: -200px;
  }

  #om_erhvervserfaring {
    width: 380px;
    height: 300px;
    margin-top: 60px;
    padding: 0; 
  margin-bottom: 30px;}

    /********** OM MIG END **********/

    /******* PORTFOLIO MENU ******/
    #portfolio_menu {
      height: 260px;
    }
   




    /******* PORTFOLIO MENU END ******/
  }

  @media only screen and (min-width: 900px) {
   #portfolio {
      margin-left: 120px;
      margin-right: 120px;
    }

    /***** OM MIG ******/

    #om_wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto auto;
      margin-left: 120px;
      margin-right: 120px;
    }

    #om_img {
      grid-column: 1/3;
      grid-row: 1;
      width: 100%;
    }

    #om_img img {
      width: 350px;
      height: 450px;
      margin: 0;
    }

    #om_beskrivelse {
      width: 60%;
      height: 260px;
      grid-column: span 2;
      grid-row: 2 span 3;
      margin-top: -290px;
      margin-left: 250px;
    }

    #om_erhvervserfaring {
      width: 100%;
      height: 450px;
      margin-top: 0px;
      grid-column: 3/3;
      grid-row: 1;
    }

    #om_form_wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 50px;
    }

    #om_kontakt {
      background-color: var(--beige);
      grid-column: 1/2;
      height: auto;
    }

    #om_formular {
      grid-column: 2/2;
    }

    .kontakt_formular input,
    textarea,
    #input-submit {
      width: 40%;
      display: block;
      margin-left: 20px;
      margin-inline: auto;
    }

    #input-submit {
      width: 20%;
    }

    /***** OM MIG END *****/

    /****** PORTFOLIO MENU *****/
    #portfolio_top {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
    }
    #portfolio_top hr {
      width: 100%;
    }

    #portfolio hr {
    margin-top: 0px;
    margin-bottom: 0px;}

    #portfolio_menu {
      height: 60px;
      background-color: var(--brown);
    }
    #portfolio_menu ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      height: 50px;
    }

    #portfolio_menu .menu1 {
      width: 20%;
      grid-column: 1/5;
      grid-row: 1;
      background: none;
    }

    #portfolio_menu .menu2 {
      width: 20%;
      grid-column: 2/5;
      grid-row: 1;
      background: none;
    }

    #portfolio_menu .menu3 {
      width: 20%;
      grid-column: 3/5;
      grid-row: 1;
      background: none;
    }

    #portfolio_menu .menu4 {
      width: 20%;
      grid-column: 4/5;
      grid-row: 1;
      background: none;
    }

    #portfolio_menu .menu5 {
      width: 20%;
      grid-column: 5/5;
      grid-row: 1;
      background: none;
    }
    /**** PORTFOLIO MENU END ******/

    /***** PORTFOLIO ******/

    #animation {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 60px 400px 300px;

      gap: 20px;
    }
    #animation h2 {
      grid-row: 1;
    }

    #animation_boks1 {
      grid-column: 1 / span 4;
      grid-row: 2;
      background-image: url(/img/animation_1.webp);
      background-repeat: no-repeat;
      background-size: cover;
    }
    

    #animation_boks2 {
      background-color: blue;
      grid-column: 5 / span 2;
      grid-row: 2;
    }

    #animation_boks3 {
      background-color: green;
      grid-column: 1 / 1;
      grid-row: 3;
    }

    #animation_boks4 {
      background-color: red;
      grid-column: 2 / span 2;
      grid-row: 3;
    }

    #animation_boks5 {
      background-color: yellow;
      grid-column: 4 / span 3;
      grid-row: 3;
    }

    #video {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 60px 400px 300px;
      gap: 20px;
    }
    #video h2 {
      grid-row: 1;
    }

    #video_boks1 {
      background-color: violet;
      grid-column: 1 / span 2;
      grid-row: 2;
    }

    #video_boks2 {
      background-color: blue;
      grid-column: 3 / span 4;
      grid-row: 2;
    }

    #video_boks3 {
      background-color: green;
      grid-column: 1 / span 3;
      grid-row: 3;
    }

    #video_boks4 {
      background-color: red;
      grid-column: 4 / span 2;
      grid-row: 3;
    }

    #video_boks5 {
      background-color: yellow;
      grid-column: 6 / 6;
      grid-row: 3;
    }
  }
}
